$min-page-width: 320px; // This should always be 320px, minimum phone size
$max-page-width: 1900px; // This can be whatever you want (i.e. 1200px or 1440px)

$heading-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;