/********** Color names (default  variables) **********/

$persimmon: #FF6846;
$spun-pearl: #B3B1B7;
$mid-gray: #64626A;
$french-gray: #C9C8CC;
$mountain-mist: #8E8C95;
$ship-gray: #3B3A40;
$sauvignon: #FFF6F4;
$navajo-white: #FFDEA7;
$mint-tulip: #C0EEF5;
$cruise: #C2EED8;
$athens-gray: #F5F6F9;
$athens-gray: #F5F6F9;
$bonjour: #E8E7E8;
$blaze-orange: #FA6402;
$mischka: #D1D0D6;
$mercury: #E2E2E2;
$black: #000000;
$white: #ffffff;



/********** Component names (use as) **********/

/***** Text ******/
$pr-heading: $black;
$pr-description: $mid-gray;
$pr-caption: $french-gray;

/***** Background *****/
$pr-bg: $black;
$sec-bg: $athens-gray;
$addt-bg: $navajo-white;

/***** Button *****/
$pr-btn-enabled: $persimmon;
$sec-btn-enabled: $french-gray;

/***** Link *****/
$nav-link-enabled: $ship-gray;

/***** Input *****/
$inpt-pl-enabled: $spun-pearl;
$inpt-br-enabled: $french-gray;

/***** Divider *****/
$act-divider: $blaze-orange;
$pr-divider: $mercury;
$sec-divider: $mischka;

