@import "app/scss/_variables.scss";
@import "app/scss/_mixins.scss";

.talk {
  @include padd-vert($spacing-06, $spacing-04);
  @media (min-width: $screen-tablet-min) {
    display: flex;
    justify-content: space-between;
    @include padd-vert($spacing-12, $spacing-11);
  }
  @media (min-width: $screen-desktop-min) {
    @include padd-vert(105px, 76px);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: $alabaster;
    width: 100%;
    height: 700px;
    z-index: -1;
    @media (min-width: $screen-tablet-min) {
      height: 435px;
    }
    @media (min-width: $screen-desktop-min) {
      height: 590px;
    }
  }

  &__intro {
    text-align: center;
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: $spacing-08;

    @media (min-width: $screen-tablet-min) {
      margin: 0;
      text-align: left;
      margin-right: 65px;
    }
    @media (min-width: $screen-desktop-min) {
      max-width: 480px;
      margin-right: 105px;
    }

    h1 {
      @include h1-mobile;
      margin-bottom: $spacing-01;
      @media (min-width: $screen-tablet-min) {
        @include h1-tablet;
      }
      @media (min-width: $screen-desktop-min) {
        @include h1-desktop;
        margin-bottom: $spacing-03;
      }
    }

    p {
      @include subheading-mobile;
      margin: 0 auto;
      margin-bottom: $spacing-04;
      @media (min-width: $screen-tablet-min) {
        margin-bottom: $spacing-06;
      }
      @media (min-width: $screen-desktop-min) {
        @include subheading-desktop;
        margin-bottom: $spacing-10;
      }
    }
  }

  &__intro-top {
    @media (min-width: $screen-tablet-min) {
      margin-bottom: 72px;
    }
    @media (min-width: $screen-desktop-min) {
      margin-bottom: 100px;
    }
  }

  &__intro-bttm {
    img {
      display: none;
      @media (min-width: $screen-tablet-min) {
        display: block;
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
      }
      @media (min-width: $screen-desktop-min) {
        display: block;
        width: 100%;
        max-width: 420px;
        margin-left: -12px;
      }
    }
  }

  &__supheading {
    @include font-set-01(12px, 18px, 600);
    display: inline-block;
    font-family: $sec-font;
    letter-spacing: 1px;
    color: $french-gray;
    text-transform: uppercase;
    margin-bottom: $spacing-03;
    @media (min-width: $screen-tablet-min) {
      margin-bottom: 18px;
    }
    @media (min-width: $screen-desktop-min) {
      @include font-set-01(18px, 28px, 600);
      margin-bottom: $spacing-07;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    @media (min-width: $screen-tablet-min) {
      justify-content: flex-start;
    }
    
    .call-us {
      width: 130px;
      height: 58px;
      background-color: $persimmon;

      span {
        font-family: $sec-font;
        @include font-set-01(12px, 18px, 600);
        color: $white;

        @media (min-width: $screen-desktop-min) {
          @include font-set-01(16px, 19px, 400);
        }

        &:first-child {
          @include font-set-01(12px, 18px, 400);

          @media (min-width: $screen-desktop-min) {
            @include font-set-01(14px, 22px, 600);
          }
        }      
      }
    }

    .email-us {
      width: 130px;
      height: 58px;
      background-color: $white;
      border: 1px solid $persimmon;
      
      span {
        font-family: $sec-font;
        @include font-set-01(14px, 20px, 600);
        color: $persimmon;

        @media (min-width: $screen-desktop-min) {
          @include font-set-01(16px, 19px, 400);
        }

        &:first-child {
          @include font-set-01(12px, 18px, 400);
          
          @media (min-width: $screen-desktop-min) {
            @include font-set-01(14px, 22px, 600);
          }
        }
      }
    }

    .link {     
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 4px;
      text-align: left;
      @media (min-width: $screen-tablet-min) {
        border-radius: 6px;
        padding-top: 14px;
        padding-right: 17px;
        padding-bottom: 12px;
        padding-left: 12px;
      }
      @media (min-width: $screen-desktop-min) {
        width: 180px;
        border-radius: 8px;
        padding-top: 15px;
        padding-right: 20px;
        padding-bottom: 15px;
        padding-left: 20px;
      }

      & + .link {
        margin-left: $spacing-01;
        @media (min-width: $screen-tablet-min) {
          margin-left: $spacing-02;
        }
        @media (min-width: $screen-desktop-min) {
          margin-left: $spacing-05;
        }
      }
    }
  }

  .contact-form {
    padding: 16px;
    border-radius: 4px;
    background-color: $white;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);
    max-width: 420px;
    margin: 0 auto;
    margin-bottom: $spacing-05;
    @media (min-width: $screen-tablet-min) {
      padding: 24px;
      max-width: 347px;
      margin: 0;
    }
    @media (min-width: $screen-desktop-min) {
      max-width: 487px;
    }

    h2 {
      @include font-set-01(18px, 28px, 600);
      font-family: $sec-font;
      color: $black;
      margin-bottom: $spacing-01;
      @media (min-width: $screen-tablet-min) {
        @include font-set-01(22px, 32px, 600);
        margin-bottom: $spacing-02;
      }
      @media (min-width: $screen-desktop-min) {
        @include font-set-01(28px, 42px, 600);
        margin-bottom: 18px;
      }
    }

    p {
      @include font-set-01(12px, 20px, 400);
      font-family: $sec-font;
      color: $pr-description;
      margin-bottom: $spacing-02;
      @media (min-width: $screen-tablet-min) {
        @include font-set-01(14px, 22px, 400);
        margin-bottom: $spacing-02;
      }
      @media (min-width: $screen-desktop-min) {
        @include font-set-01(18px, 30px, 400);
        margin-bottom: $spacing-08;
      }
    }

    form {
      .input-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: $spacing-02;

        &:last-of-type {
          margin-left: 0px;
        }

        @media (min-width: $screen-tablet-min) {
          &:last-child {
            margin-left: $spacing-01;
          }

          &:nth-child(3) {
            margin-bottom: 32px;
          }
        }

        input {
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid $mischka;
          padding: 12px;
          font-size: 12px;
          font-family: $sec-font;

          @media (min-width: $screen-tablet-min) {
            max-width: 144px;
            font-size: 14px;
            border-radius: 6px;
          }

          @media (min-width: $screen-desktop-min) {
            max-width: 214px;
            font-size: 16px;
            border-radius: 8px;
            padding: 14px;
            min-height: 52px;
          }

          &:focus {
            outline: none;
            border: 1px solid $persimmon;
          }
    
          &::placeholder {
            color: $spun-pearl;
          }
        }

        label {
          @include font-set-01(12px, 18px,500);
            font-family: $sec-font;
            margin-bottom: 5px;

            @media (min-width: $screen-tablet-min) {
              @include font-set-01(14px, 22px, 500);
            }
    
          span {
            color: $persimmon;
          }
        }

        .topics-wrapper {
          position: relative;

          select {
            font-family: $sec-font;
            font-size: 12px;
            color: $black;
            width: 100%;
            min-height: 40px;
            padding: 12px 32px 12px 12px;
            border: 1px solid $mischka;
            border-radius: 4px;
            appearance: none;
            background-color: $white;
            

            @media (min-width: $screen-tablet-min) {
              font-size: 14px;
              border-radius: 6px;
              padding: 12px 36px 12px 12px;
            }

            @media (min-width: $screen-desktop-min) {
              font-size: 16px;
              border-radius: 8px;
              min-height: 52px;
              padding: 14px 44px 14px 14px;
            }

            &:focus {
              outline: none;
              border: 1px solid $persimmon;
            }

            option {
              @include font-set-01(16px, 26px, 400);
              font-family: $sec-font;
              color: $black;
            }
          }  
        }

        .topics-wrapper::after {
          content: "";
          position: absolute;
          display: block;
          pointer-events: none;
          width: 16px;
          height: 16px;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
          background-image: url(svg/ic_arrow-down.svg);
          background-repeat: no-repeat;

          @media (min-width: $screen-desktop-min) {
            right: 16px;
          }
        }

        textarea {
          border-radius: 4px;
          box-sizing: border-box;
          border: 1px solid $mischka;
          padding: 12px;
          font-size: 12px;
          font-family: $sec-font;
          color: $black;

          @media (min-width: $screen-tablet-min) {
            font-size: 14px;
            border-radius: 6px;
          }

          @media (min-width: $screen-desktop-min) {
            font-size: 16px;
            border-radius: 8px;
            min-height: 52px;
            padding: 14px 44px 14px 14px;
          }
    
          &:focus {
            outline: none;
            border-color: $persimmon;
          }

          &::placeholder {
            color: $spun-pearl;
          }
        }
      }

      .wrapper {
        @media (min-width: $screen-tablet-min) {
          display: flex;
        }
      }

      button {
        @include pr-btn;
        padding: 12px;
        width: 100%;
        border-radius: 4px;

        @media (min-width: $screen-tablet-min) {
          border-radius: 6px;
        }

        @media (min-width: $screen-desktop-min) {
          padding: 16px;
          border-radius: 8px;
        }
      }
    }
  }

  &__img-wrapper {
    img {
      display: block;
      width: 100%;
      max-width: 420px;
      margin: 0 auto;

      @media (min-width: $screen-tablet-min) {
        display: none;
      } 
    }
  }
}

.asked-topics {
  @include padd-vert($spacing-06, $spacing-06);

  @media (min-width: $screen-tablet-min) {
    @include padd-vert(50px, 50px);
  }

  @media (min-width: $screen-desktop-min) {
    @include padd-vert(76px, 90px);
  }

  h2 {
    @include h2-mobile;
    max-width: 490px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: $spacing-05;

    @media (min-width: $screen-tablet-min) {
      @include h2-tablet;
      margin-bottom: $spacing-08;
    }

    @media (min-width: $screen-desktop-min) {
      @include h2-desktop;
      margin-bottom: $spacing-14;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-tablet-min) {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      max-width: 660px;
      align-items: flex-start;
      margin: 0 auto;
    }

    @media (min-width: $screen-desktop-min) {
      max-width: 1140px;
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid $mischka;
    border-radius: 4px;
    max-width: 420px;
    width: 100%;
    height: 50px;
    padding: 0px 16px;

    @media (min-width: $screen-tablet-min) {
      max-width: 320px;
      height: 60px;
      padding: 0px 24px;
    }

    @media (min-width: $screen-desktop-min) {
      max-width: 350px;
      height: 80px;
      padding: 0px 28px;
    }

    & + .asked-topics__item {
      margin-top: $spacing-01;

      @media (min-width: $screen-tablet-min) {
        margin-top: 0;
        margin-bottom: 20px;
      }

      @media (min-width: $screen-desktop-min) {
        margin-bottom: 40px;
      }
    }

    &:nth-child(+n+7) {
      @media (min-width: $screen-desktop-min) {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      @media (min-width: $screen-tablet-min) {
        margin-bottom: 0;
      }
    }

    & > svg {
      margin-right: 14px;

      @media (min-width: $screen-tablet-min) {
        margin-left: 4px;
        margin-right: $spacing-02;
      }

      @media (min-width: $screen-desktop-min) {
        margin-right: 14px;
        margin-right: $spacing-03;
      }
    }

    span {
      @include font-set-01(16px, 26px, 600);
      font-family: $sec-font;
      color: $ship-gray;
    }

  }

  &__left {
    display: flex;
    align-items: center;
    flex-grow: 1;

    .asked-topics__img {
      background-color: #FFF0ED;
      border-radius: 50%;
    }

    svg {
      stroke: $persimmon;
    }

    span {
      color: $persimmon;
    }
  }

  &__right {
    svg {
      stroke: $persimmon;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 14px;
    
    @media (min-width: $screen-tablet-min) {
      width: 38px;
      height: 38px;
      margin-right: $spacing-02;
    }

    @media (min-width: $screen-desktop-min) {
      width: 42px;
      height: 42px;
      margin-right: $spacing-03;
    }
  }
}

.offices {
  @include padd-vert($spacing-06, $spacing-06);

  @media (min-width: $screen-tablet-min) {
    @include padd-vert(50px, 40px);
  }

  @media (min-width: $screen-desktop-min) {
    @include padd-vert(90px, 90px);
  }

  &__intro {
    text-align: center;
    margin-bottom: $spacing-05;

    @media (min-width: $screen-tablet-min) {
      margin-bottom: $spacing-07;
    }

    @media (min-width: $screen-desktop-min) {
      display: flex;
      justify-content: flex-start;
      text-align: left;
      margin-bottom: 80px;
    }

    h2 {
      @include h2-mobile;
      max-width: 420px;
      margin: 0 auto;
      margin-bottom: $spacing-02;

      @media (min-width: $screen-tablet-min) {
        @include h2-tablet;
      }

      @media (min-width: $screen-desktop-min) {
        @include h2-desktop;
        margin: 0 310px 0 0;
      }
    }

    p {
      @include subheading-mobile;
      max-width: 320px;
      margin: 0 auto;

      @media (min-width: $screen-tablet-min) {
        @include subheading-tablet;
        max-width: 380px;
      }

      @media (min-width: $screen-desktop-min) {
        @include subheading-desktop;
        max-width: 420px;
        margin: 0;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $screen-desktop-min) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__item {
    border: 1px solid $mischka;
    border-radius: 8px;
    overflow: hidden;
    max-width: 420px;
    width: 100%;
    margin-bottom: $spacing-06;

    @media (min-width: $screen-tablet-min) {
      max-width: 680px;
      margin-bottom: $spacing-07;
    }

    @media (min-width: $screen-desktop-min) {
      max-width: 540px;
      margin-bottom: 0;
    }

    .branch {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 16px 20px;

      @media (min-width: $screen-tablet-min) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px 25px;
      }

      @media (min-width: $screen-desktop-min) {
        display: flex;
        flex-direction: column;
        padding: 30px;
      }

      &__head-wrapper {
        margin-bottom: $spacing-02;

        @media (min-width: $screen-tablet-min) {
          margin-bottom: 0;
        }

        @media (min-width: $screen-desktop-min) {
          margin-bottom: $spacing-05;
        }
      }

      &__title {
        @include font-set-01(18px, 28px, 600);
        font-family: $sec-font;
        color: $ship-gray;
        margin-bottom: 8px;

        @media (min-width: $screen-tablet-min) {
          @include font-set-01(22px, 32px, 600);
          margin-bottom: 10px;
        }
      }

      &__subheading {
        @include font-set-01(14px, 22px, 400);
        font-family: $sec-font;
        color: $mid-gray;

        @media (min-width: $screen-tablet-min) {
          @include font-set-01(18px, 28px, 400);
        }
      }

      &__link {
        @include font-set-01(14px, 22px, 600);
        display: flex;
        align-items: center;
        font-family: $sec-font;
        color: $persimmon;

        @media (min-width: $screen-tablet-min) {
          @include font-set-01(18px, 28px, 600);
        }

        span {
          display: flex;
          align-items: center;
          padding-top: 2px;
          margin-left: 5px;

          @media (min-width: $screen-tablet-min) {
            padding-top: 1px;
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    height: 170px;
    border-radius: 8px 8px 0px 0px;
    border-bottom: 1px solid $mischka;

    @media (min-width: $screen-desktop-min) {
      height: 280px;
    }
    
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    } 
  }
}

.faq {
  @include padd-vert($spacing-06, 72px);
  display: flex;
  flex-direction: column;
  text-align: left;

  @media (min-width: $screen-tablet-min) {
    @include padd-vert(50px, 50px);
  }

  @media (min-width: $screen-desktop-min) {
    @include padd-vert(90px, 120px);
    flex-direction: row;
    justify-content: space-between;
  }

  &__intro {
    text-align: center;
    margin-bottom: $spacing-03;
    position: relative;

    @media (min-width: $screen-tablet-min) {
      margin-bottom: $spacing-08;
    }

    @media (min-width: $screen-desktop-min) {
      max-width: 440px;
      text-align: left;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 48%;
        left: -24%;
        background-image: url(img/faq-pattern-bg_1140.jpg);
        width: 394px;
        height: 337px;
        z-index: 10;
      }
    }

    h2 {
      @include h2-mobile; 
      margin-bottom: $spacing-01;

      @media (min-width: $screen-tablet-min) {
        @include h2-tablet;
        margin-bottom: $spacing-04; 
      }

      @media (min-width: $screen-desktop-min) {
        @include h2-desktop;
      }
    }
  
    p {
      @include subheading-mobile;
      max-width: 300px;
      margin: 0 auto;

      @media (min-width: $screen-tablet-min) {
        @include subheading-tablet;
        max-width: 430px;
        margin-bottom: $spacing-08;
      }

      @media (min-width: $screen-desktop-min) {
        @include subheading-desktop;
        margin-bottom: 0px;
        margin: 0;
      }
      
      a {
        cursor: pointer;
        text-decoration: underline;
        color: $persimmon;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  &__question-wrap {
    .question {
      cursor: pointer;
      max-width: 420px;
      border-bottom: 1px solid $mischka;
      padding: 16px;
      margin: 0 auto;

      @media (min-width: $screen-tablet-min) {
        padding: 16px 30px;
      }

      @media (min-width: $screen-desktop-min) {
        padding: 24px 30px 24px 40px;
      }

      &:hover {
        .question__icon:before {
          background-color: $persimmon;
        }

        .question__icon:after {
          background-color: $persimmon;
        }
      }

      @media (min-width: $screen-tablet-min) {
        max-width: 680px;
      }

      @media (min-width: $screen-desktop-min) {
        max-width: 673px;
      }

      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      &__title {
        @include font-set-01(16px, 24px, 500);
        display: block;
        font-family: $sec-font;
        padding-right: 32px;
        @media (min-width: $screen-desktop-min) {
          @include font-set-01(20px, 30px, 500);
          max-width: 450px;
        }
      }

      &__icon {
        width: 12px;
        height: 12px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          top: 5px;
          right: 0px;
          width: 12px;
          height: 2px;
          background-color: $mid-gray;
        }

        &:after {
          content: "";
          position: absolute;
          top: 5px;
          right: 0px;
          width: 12px;
          height: 2px;
          background-color: $mid-gray;
          opacity: 1;
          transform: rotate(90deg);
        }
      }
  
      &__row-content {
        overflow: hidden;
        max-height: 0px;
      }
    }

    .active {
      margin-top: 10px;
      margin-bottom: 10px;
      box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.04);

      &.question {
        border-bottom: 0px;
      }

      .question__title {
        color: $persimmon;
      }

      .question__row-content {
        @include font-set-01(14px, 24px, 400);
        font-family: $sec-font;
        color: $mid-gray;
        margin-top: $spacing-01;
        overflow: visible;
        max-height: inherit;
        padding-right: 32px;

        @media (min-width: $screen-desktop-min) {
          @include font-set-01(16px, 26px, 400);
        }
      }
  
      .question__icon:after {
        content: "";
        position: absolute;
        top: 5px;
        right: 0px;
        width: 12px;
        height: 2px;
        background-color: $persimmon;
        opacity: 1;
        transform: rotate(180deg);
      }
    }
  }
}
