/***** Font-family *****/
$pr-font: 'Libre Baskerville', Georgia, serif;
$sec-font: 'Inter', Arial, sans-serif;

/***** Inter *****/

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/to/Inter-Regular.woff2') format("woff2-variations");
    src: url('/path/to/Inter-Regular.woff') format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/path/to/Inter-Medium.woff2') format("woff2-variations");
    src: url('/path/to/Inter-Medium.woff') format("woff");
  }

  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/path/to/Inter-SemiBold.woff2') format("woff2-variations");
    src: url('/path/to/Inter-SemiBold.woff') format("woff");
  }

/***** Libre Baskerville *****/

  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/path/to/LibreBaskerville-Regular.woff2') format("woff2");
    src: url('/path/to/LibreBaskerville-Regular.woff') format("woff");
  }

  @font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/path/to/LibreBaskerville-Bold.woff2') format("woff2");
    src: url('/path/to/LibreBaskerville-Bold.woff') format("woff");
  }

  @font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/path/to/LibreBaskerville-Italic.woff2') format("woff2");
    src: url('/path/to/LibreBaskerville-Italic.woff') format("woff");
  }