/***** Spacing *****/ 
$spacing-01: 12px;
$spacing-02: 16px;
$spacing-03: 20px;
$spacing-04: 24px;
$spacing-05: 28px;
$spacing-06: 32px;
$spacing-07: 36px;
$spacing-08: 40px;
$spacing-09: 44px;
$spacing-10: 48px;
$spacing-11: 52px;
$spacing-12: 56px;
$spacing-13: 60px;
$spacing-14: 64px;
$spacing-15: 68px;
$spacing-16: 72px;

/***** Breakpoints *****/
$screen-mobile-min: 320px;
$screen-tablet-min: 768px;
$screen-desktop-min: 1200px;
$screen-mobile-max: $screen-tablet-min - 1;
$screen-tablet-max: $screen-desktop-min - 1;

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  @media (min-width: $screen-tablet-min) and (max-width: $screen-tablet-max) {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
  }

  @media (min-width: $screen-desktop-min) {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
}



