/***** Spacing *****/ 
$spacing-01: 12px;
$spacing-02: 16px;
$spacing-03: 20px;
$spacing-04: 24px;

/***** Loyaout *****/ 
$loyaout-01: 48px;
$loyaout-02: 56px;
$loyaout-03: 64px;
$loyaout-04: 72px;
$loyaout-05: 100px;
$loyaout-06: 120px;
$loyaout-07: 160px;
$loyaout-08: 180px;

/***** Breakpoints *****/
$screen-mobile-min: 320px;
$screen-tablet-min: 768px;
$screen-desktop-min: 1200px;
$screen-mobile-max: $screen-tablet-min - 1;
$screen-tablet-max: $screen-desktop-min - 1;

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
  @media (min-width: $screen-tablet-min) {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 992px;
  }

  @media (min-width: $screen-desktop-min) {
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }
}



