@import "app/scss/loyaout.scss";

/***** Paddings *****/
@mixin padd-vert($pt: $spacing-03, $pb: $spacing-03) {
    padding-top: $pt;
    padding-bottom: $pb;
}

@mixin padd-hor($pl: $spacing-03, $pr: $spacing-03) {
    padding-left: $pl;
    padding-right: $pr;
}

@mixin padd-all($pt: $spacing-03, $pr: $spacing-03, $pb: $spacing-03, $pl: $spacing-03) {
    padding-top: $pt;
    padding-right: $pr;
    padding-bottom: $pb;
    padding-left: $pl;
}

/***** Headings *****/
@mixin h1_mobile {
    font-family: $pr-font;
    font-size: 38px;
    line-height: 46px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin h1_tablet {
    font-family: $pr-font;
    font-size: 48px;
    line-height: 60px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin h1_desktop {
    font-family: $pr-font;
    font-size: 60px;
    line-height: 74px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin h2_mobile {
    font-family: $pr-font;
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin h2_tablet {
    font-family: $pr-font;
    font-size: 44px;
    line-height: 55px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin h2_desktop {
    font-family: $pr-font;
    font-size: 52px;
    line-height: 64px;
    font-weight: 400;
    color: $pr-heading;
}

@mixin subheading-mobile {
    font-family: $sec-font;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: $pr-description;
}

@mixin subheading_tablet {
    font-family: $sec-font;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $pr-description;
}

@mixin subheading_desktop {
    font-family: $sec-font;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: $pr-description;
}

/***** Fonts *****/
@mixin font-set-01($fz: 16px, $lh: 24px, $fw: 400) {
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
}

/***** Buttons *****/
@mixin pr-btn {
    font-size: 14px;
    line-height: 18px;
    color: $white;
    background-color: $pr-btn-enabled;
    border-radius: 4px;
}

/*-----------------------------------------------------------------------*/

/***** Paddings *****/
@mixin spacing($space: $spacing-rg) {
    padding-top: $space;
    padding-bottom: $space;
  }

@mixin padding($pad: $indent-sm) {
    padding-right: $pad;
    padding-left: $pad;
}

$spacing-rg: 10px;
@mixin spacing($space: $spacing-rg) {
    padding-top: $space;
    padding-bottom: $space;
}

@mixin vis-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}