@import "app/scss/reset.scss";
@import "app/scss/fonts.scss";
@import "app/scss/colors.scss";
@import "app/scss/loyaout.scss";
@import "app/scss/mixins.scss";
@import "app/scss/archive.scss";
@import "app/scss/pricing.scss";

.header {
    background-color: $white;
    height: $spacing-16;
    display: flex;
    justify-content: space-between;

    .navigation {
        display: flex;
        align-items: center;

        &__logo {
            @media (min-width: $screen-desktop-min) {
                margin-right: $spacing-16;
            }
        }

        &__list {
            display: none;
            @media (min-width: $screen-desktop-min) {
                display: contents;
            }
        }

        &__item {
            display: inline-block;
        }

        &__item + .navigation__item {
            margin-left: $spacing-07;
        }

        &__link {
            @media (min-width: $screen-desktop-min) {
                @include font-set-01(14px, 18px, 400);
                font-family: $sec-font;
                color: $link-enabled;
            }
        }
    }

    .btns {
        display: flex;
        align-items: center;

        &__list {
            display: none;
            @media (min-width: $screen-tablet-min) {
                display: flex;
                margin-right: $spacing-06;
            }
            @media (min-width: $screen-desktop-min) {
                margin-right: 0;
            }
        }
        
        &__item + .btns__item {
            @media (min-width: $screen-tablet-min) {
                margin-left: $spacing-01;
            }
        }

        &__login {
            font-family: $sec-font;
            @include font-set-01(14px, 18px, 400);
            @include padd-all(10px, 14px, 10px, 14px);
            color: $link-enabled;
            border-radius: 4px;
        }

        &__registration {
            font-family: $sec-font;
            @include font-set-01(14px, 18px, 600);
            @include padd-all(10px, 14px, 10px, 14px);
            color: $black;
            border-radius: 4px;
            border: 1px solid $sec-btn-enabled;
        }

        &__burger-menu {
            @include padd-all(6px, 3px, 6px, 3px);
            &::after {
                content: "";
                display: block;
                width: 18px;
                height: 12px;
                background: url(svg/burger-menu.svg);
            }

            @media (min-width: $screen-desktop-min) {
                display: none;
            }
        }
    }
}

.simpler-tool {
    @include padd-vert($spacing-04, $spacing-04);
    text-align: center;
    @media (min-width: $screen-tablet-min) {
        @include padd-vert($spacing-10, $spacing-13);
    }
    @media (min-width: $screen-desktop-min) {
        @include padd-vert(90px, 90px);
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            @include subheading-mobile;
            max-width: 330px;
            color: $pr-description;
            @media (min-width: $screen-tablet-min) {
                @include subheading-tablet;
                max-width: 420px;
            }
            @media (min-width: $screen-desktop-min) {
                @include subheading-desktop;
                max-width: 470px;
            }
        }
    }
    
    &__heading {
        @include h1-mobile;
        margin-bottom: $spacing-01;
        max-width: 420px;
        @media (min-width: $screen-tablet-min) {
            @include h1-tablet;
            margin-bottom: $spacing-04;
            max-width: 520px;
        }
        @media (min-width: $screen-desktop-min) {
            @include h1-desktop;
            margin-bottom: $spacing-04;
            max-width: 750px;
        }
    }

    &__subheading {
        @include subheading-mobile;
        max-width: 330px;
        color: $pr-description;
        margin-bottom: $spacing-02;
        @media (min-width: $screen-tablet-min) {
            @include subheading-tablet;
            max-width: 420px;
            margin-bottom: $spacing-08;
        }
        @media (min-width: $screen-desktop-min) {
            @include subheading-desktop;
            max-width: 420px;    
        }
    }

    &__decoration {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: 7%;
            left: -3%;
            background-color: $addt-bg;
            width: 106%;
            height: 64%;
            z-index: -1;
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-08;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: $spacing-13;
        }
        @media (min-width: $screen-desktop-min) {
            margin-bottom: 90px;
        }
    }

    &__pr-btn {
        cursor: pointer;
        @include pr-btn;
        @include padd-all(9px, 24px, 9px, 24px);
        @include font-set-01(16px, 26px, 600);
        margin-right: $spacing-02;
        @media (min-width: $screen-tablet-min) {
            @include padd-all(13px, 45px, 13px, 45px);
            border-radius: 4px;
        }
        @media (min-width: $screen-desktop-min) {
            @include padd-all(17px, 55px, 17px, 55px);
            border-radius: 6px;
            margin-right: $spacing-04;
        }
    }

    &__play-btn {
        cursor: pointer;
        @include padd-all(11px, 11px, 11px, 11px);
        border: 1px solid $sec-btn-enabled;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        @media (min-width: $screen-tablet-min) {
            @include padd-all(15px, 15px, 15px, 15px);
            border-radius: 6px;
        }
        @media (min-width: $screen-desktop-min) {
            @include padd-all(19px, 19px, 19px, 19px);
            border-radius: 6px;
        }
    }

    &__img-wrap {
        overflow: hidden;
        margin-bottom: $spacing-08;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: $spacing-14;
        }
        @media (min-width: $screen-desktop-min) {
            margin-bottom: $spacing-16;
        }
    }

    &__img {
        display: block;
        margin: 0 auto;
        width: 80%;
        max-width: 668px;
        position: relative;
        border-radius: 4px;
        @media (min-width: $screen-tablet-min) {
            max-width: 952px;
            border-radius: 4px;
        }
        @media (min-width: $screen-desktop-min) {
            max-width: 952px;
            border-radius: 6px;
        }
       
        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            left: -10%;
            top: 50%;
            max-width: 430px;
            width: 100%;
            height: 80%;
            transform: translateY(-50%);
            background-image: url(img/simpler-tool-pattern-left_768.png);

            @media (min-width: $screen-tablet-min) {
                width: 430px;
                height: 230px;
                background-image: url(img/simpler-tool-pattern-left_768.png)
            }
            @media (min-width: $screen-desktop-min) {
                width: 742px;
                height: 401px;
                background-image: url(img/simpler-tool-pattern-left_1200.png)
            }
        }
        
        &::after {
            content: "";
            z-index: -1;
            position: absolute;
            right: -11%;
            top: 50%;
            max-width: 450px;
            width: 100%;
            height: 80%;
            transform: translateY(-50%);
            background-image: url(img/simpler-tool-pattern-right_768.png);
            
            @media (min-width: $screen-tablet-min) {
                width: 450px;
                height: 240px;
                background-image: url(img/simpler-tool-pattern-right_768.png)
            }
            @media (min-width: $screen-desktop-min) {
                width: 742px;
                max-width: none;
                height: 400px;
                right: -15%;
                background-image: url(img/simpler-tool-pattern-right_1200.png)
            }
        }
    }

    &__errect-walls {
        @include font-set-01(18px, 28px, 600);
        font-family: $sec-font;
        margin-bottom: $spacing-01;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: 14px;
        }
    }
}

.build-workspace {
    @include padd-vert($spacing-04, $spacing-06);
    @media (min-width: $screen-tablet-min) {
        @include padd-vert($spacing-13, $spacing-13);
    }
    @media (min-width: $screen-desktop-min) {
        @include padd-vert(90px, 90px);
        overflow: hidden;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing-06;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: $spacing-11;
        }
        @media (min-width: $screen-desktop-min) {
            align-items: flex-start;
        }
    }

    &__intro {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: $spacing-05;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: $spacing-08;
        }
        @media (min-width: $screen-desktop-min) {
            max-width: 420px;
            text-align: left;
            align-items: flex-start;
            margin-bottom: $spacing-06;
        }
    }

    &__heading {
        @include h2-mobile;
        margin-bottom: $spacing-01;
        max-width: 420px;
        @media (min-width: $screen-tablet-min) {
            @include h2-tablet;
            margin-bottom: $spacing-02;
            max-width: 530px;
        }
        @media (min-width: $screen-desktop-min) {
            @include h2-desktop;
        }
    }

    &__decoration {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: inline-block;
            bottom: 7%;
            left: -3%;
            background-color: $cruise;
            width: 106%;
            height: 64%;
            z-index: -1;
        }
    }

    &__subheading {
        @include subheading-mobile;
        color: $pr-description;
        max-width: 330px;
        @media (min-width: $screen-tablet-min) {
            @include subheading-tablet;
            max-width: 420px;
        }
    }

    .accordion-menu {
        max-width: 420px;
        @media (min-width: $screen-tablet-min) {
            display: flex;
            max-width: 690px;
        }
        @media (min-width: $screen-desktop-min) {
            flex-direction: column;
            max-width: 430px;
        }

        &__arrow {
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-top: 4px;
            margin-right: 8px;
        }

        &__item-wrap {
            cursor: pointer;
            display: flex;
            padding-right: 20px;
            @media (min-width: $screen-tablet-min) {
                max-width: 230px;
                padding-right: 0px;
            }
            @media (min-width: $screen-desktop-min) {
                max-width: inherit;
            }

            &:hover {
                .accordion-menu__arrow {
                    visibility: visible;
                }
            }
        }

        &__item-wrap + .accordion-menu__item-wrap {
            margin-top: $spacing-04;
            @media (min-width: $screen-tablet-min) {
                margin-top: 0px;
            }
            @media (min-width: $screen-desktop-min) {
                margin-top: $spacing-02;
            }
        }

        &__item {
            width: 100%;
            @media (min-width: $screen-tablet-min) {
                width: 100%;
            }
            @media (min-width: $screen-desktop-min) {
                width: 100%;
            }
        }

        & h3 {
            font-family: $sec-font;
            @include font-set-01(18px, 28px, 600);
            color: $black;
            max-width: 420px;
            margin-bottom: 8px;
            @media (min-width: $screen-desktop-min) {
                @include font-set-01(20px, 32px, 600);
            }
        }

        & p {
            font-family: $sec-font;
            @include font-set-01(14px, 22px, 400);
            color: $pr-description;
            max-width: 420px;
            flex-grow: 2;
            @media (min-width: $screen-desktop-min) {
                @include font-set-01(16px, 26px, 400);
            }
        }
        
        & span {
            visibility: hidden;
            display: block;
            height: 2px;
            width: 100%;
            max-width: 330px;
            background-color: $act-divider;
            @media (min-width: $screen-desktop-min) {
                max-width: inherit;
            }
        }

        .active {
            cursor: default;

            .accordion-menu__arrow {
                visibility: visible;
            }

            p {
                margin-bottom: 10px;
            }
            
            span {
                visibility: visible;
            }
        }
    }

    .accordion-img {
        text-align: center;

            img {
                max-width: 420px;
                width: 100%;
                height: 100%;
                border-radius: 4px;
                @media (min-width: $screen-tablet-min) {
                    max-width: 690px;
                    border-radius: 6px;
                }
                @media (min-width: $screen-desktop-min) {
                    max-width: 705px;
                    position: absolute;
                    bottom: 0px;
                    right: -2%;
                }
            }
       
            .visually-hidden img {
                @include vis-hidden;
            }
    }
}

.bring-roles-together {
    @include padd-vert($spacing-07, $spacing-07);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $screen-tablet-min) {
        @include padd-vert($spacing-13, $spacing-13);
    }
    @media (min-width: $screen-desktop-min) {
        @include padd-vert(90px, 100px);
    }

    &__intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: $spacing-06;
        @media (min-width: $screen-tablet-min) {
            margin-bottom: $spacing-08;
        }
        @media (min-width: $screen-desktop-min) {
            margin-bottom: $spacing-14;
        }

        & h2 {
            @include h2-mobile;
            margin-bottom: $spacing-01;
            max-width: 420px;
            @media (min-width: $screen-tablet-min) {
                @include h2-tablet;
                margin-bottom: $spacing-02;
                max-width: 530px;
            }
            @media (min-width: $screen-desktop-min) {
                @include h2-desktop;
                max-width: 730px;
            }
        }

        & p {
            @include subheading-mobile;
            color: $pr-description;
            max-width: 330px;
            @media (min-width: $screen-tablet-min) {
                @include subheading-tablet;
                max-width: 430px;
            }
            @media (min-width: $screen-desktop-min) {
                @include subheading-desktop;
                max-width: 480px;
            }
        }
    }

    .accordion-menu {
        max-width: 420px;
        margin-bottom: $spacing-06;
        @media (min-width: $screen-tablet-min) {
            display: flex;
            max-width: 690px;
            margin-bottom: $spacing-10;
        }
        @media (min-width: $screen-desktop-min) {
            max-width: 1140px;
            width: 100%;
            margin-bottom: $spacing-14;
        }

        &__arrow {
            visibility: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-top: 2px;
            margin-right: 8px;
        }

        &__item-wrap {
            display: flex;
            flex-direction: column;
            padding-right: 20px;
            position: relative;
            @media (min-width: $screen-tablet-min) {
                max-width: 230px;
                padding-right: 0px;
            }
            @media (min-width: $screen-desktop-min) {
                max-width: inherit;
            }

            &:hover {
                .accordion-menu__arrow {
                    visibility: visible;
                }
            }
        }

        &__line {
            background-color: $sec-divider;
            max-width: 400px;
            width: 100%;
            height: 2px;
            margin-bottom: 10px;
            @media (min-width: $screen-tablet-min) {
                margin-bottom: $spacing-04;
            }
        }
        
        &__item {
            display: flex;
        }

        &__item-wrap {
            cursor: pointer;
        }

        &__item-wrap + .accordion-menu__item-wrap {
            margin-top: 24px;
            @media (min-width: $screen-tablet-min) {
                margin-top: 0px;
            }
            @media (min-width: $screen-desktop-min) {
                margin-top: none;
            }
        }

        &__text {
            width: 100%;
            max-width: 330px;
            @media (min-width: $screen-tablet-min) {
                max-width: 100%;
            }

        }

        & h3 {
            font-family: $sec-font;
            @include font-set-01(18px, 28px, 600);
            color: $black;
            max-width: 420px;
            margin-bottom: 8px;
            @media (min-width: $screen-desktop-min) {
                @include font-set-01(20px, 32px, 600);
            }
        }

        & p {
            font-family: $sec-font;
            @include font-set-01(14px, 22px, 400);
            color: $pr-description;
            max-width: 420px;
            flex-grow: 2;
            @media (min-width: $screen-desktop-min) {
                @include font-set-01(16px, 26px, 400);
            }
        }

        & span {
            display: none;
            @media (min-width: $screen-tablet-min) {
                display: block;
            }
        }

        .active {
            cursor: default;

            .accordion-menu__arrow {
                visibility: visible;
            }
 
            span {
                display: block;
                height: 2px;
                width: 100%;
                max-width: 400px;
                background-color: $act-divider;
                margin-bottom: $spacing-01;
                @media (min-width: $screen-desktop-min) {
                    margin-bottom: $spacing-04;
                }
            }
        }
    }

    .accordion-img {
        text-align: center;

        img {
            max-width: 420px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            @media (min-width: $screen-tablet-min) {
                max-width: 690px;
                border-radius: 6px;
            }
            @media (min-width: $screen-desktop-min) {
                max-width: 1140px;
            }
        }
       
        .visually-hidden img {
            @include vis-hidden;
        }

    }
}

.testimonials {
    @include padd-vert(124px, $spacing-07);

    @media (min-width: $screen-tablet-min) {
        @include padd-vert(150px, $spacing-13);
    }

    @media (min-width: $screen-desktop-min) {
        @include padd-vert(150px, 100px);
    }

    &__quote  {
        @include font-set-01(30px, 42px, 400);
        max-width: 410px;
        text-align: center;
        position: relative;
        font-family: $pr-font;
        color: $pr-heading;
        margin: 0 auto;
        margin-bottom: $spacing-14;

        @media (min-width: $screen-tablet-min) {
            @include font-set-01(44px, 55px, 400);
            max-width: 490px;
        }

        @media (min-width: $screen-desktop-min) {
            @include font-set-01(52px, 64px, 400);
            max-width: 690px;
            text-align: left;
            margin-left: 0;
        }

        &::before {
            content: "";
            position: absolute;
            top: -68px;
            left: 52%;
            transform: translate(-50%, 0);
            background-image: url(svg/quote.svg);
            width: 66px;
            height: 44px;
        }

        @media (min-width: $screen-desktop-min) {
            &::before {
                left: 8%;  
                top: -68%;              
                background-size: cover;
                width: 96px;
                height: 64px;
            }
        }
    }
    
    &__slider {
        position: relative;

        .slick-list {
            overflow: hidden;
            max-width: 420px;
            margin: 0 auto;
            @media (min-width: $screen-tablet-min) {
                max-width: 560px;
            }
            @media (min-width: $screen-desktop-min) {
                max-width: 1140px;
            }
        }

        .slick-slide {
            max-width: 420px;
            @media (min-width: $screen-tablet-min) {
                max-width: 560px;
            }
        }

        .slick-track {
            display: flex;
            align-items: flex-start;
        }

        .slick-arrow {
            position: absolute;
            top: 20%;
            margin: -25px 0px 0px 0px;
            z-index: 10;
            font-size: 0;
            width: 30px;
            height: 50px;

            &.slick-disabled {
                opacity: 0.2;
            }

            &.slick-prev {
                left: 10%;
                background: url(../svg/slick-arrow-left.svg) 0 9px no-repeat;
            }

            &.slick-next {
                right: 10%;
                background: url(../svg/slick-arrow-rigth.svg) 0 9px no-repeat;
            }
        }

        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;

            & li {
                list-style: none;
                margin: 0px 12px;

                &.slick-active button {
                    background-color: $black;
                }
            }

            & button {
                font-size: 0px;
                border-radius: 100%;
                width: 8px;
                height: 8px;
                background-color: $bonjour;
            }
        }

        article {
            @include font-set-01(16px, 26px, 400);
            font-family: $sec-font;
            color: $ship-gray;
            margin-bottom: 16px;
            @media (min-width: $screen-tablet-min) {
                text-align: center;
            }
            @media (min-width: $screen-desktop-min) {
                text-align: left;
                @include font-set-01(20px, 30px, 400);
                margin-bottom: $spacing-04;
            }
        }
    }

    &__slider-wrapper {
        display: flex;
    }

    &__review {
        margin-bottom: $spacing-04;
        padding-left: 20px;
        padding-right: 20px;

        @media (min-width: $screen-tablet-min) {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-left: none;
        }

        @media (min-width: $screen-desktop-min) {
            align-items: flex-start;
            border-left: 1px solid $sec-divider;
            margin-right: 20px;
        }

        &:first-child {
            border-left: none;

            @media (min-width: $screen-desktop-min) {
                max-width: 346px;
                border-left: none;
                padding-left: 0px;
                max-width: 346px;
            }
        }
    }

    .author {
        display: flex;
        align-items: center;

        &__img-wrapper {
            margin-right: $spacing-01;
            @media (min-width: $screen-tablet-min) {
                display: none;
                margin-right: none;
            }
            @media (min-width: $screen-desktop-min) {
                display: block;
            }
        }

        &__text-wrapper {
            display: flex;
            flex-direction: column;
            @media (min-width: $screen-tablet-min) {
                text-align: center;
            }
            @media (min-width: $screen-desktop-min) {
                text-align: left;
            }

            strong {
                @include font-set-01(14px, 22px, 600);
                font-family: $pr-font;
                color: $ship-gray;
                margin-bottom: 2px;
                @media (min-width: $screen-tablet-min) {
                    @include font-set-01(16px, 24px, 600);
                }
            }

            span {
                @include font-set-01(14px, 22px, 400);
                font-family: $sec-font;
                color: $mountain-mist;
                @media (min-width: $screen-desktop-min) {
                    @include font-set-01(14px, 22px, 400);
                }
            }
        }
    }
}

.achievements {
	@include padd-vert(36px, 36px);
    text-align: center;
	position: relative;
    @media (min-width: $screen-tablet-min) {
		@include padd-vert($spacing-13, $spacing-13);
	}
	@media (min-width: $screen-desktop-min) {
		@include padd-vert(100px, 100px);
	}

	&::after {
		content: '';
		position: absolute;
		top: 70%;
		right: 85%;
		width: 470px;
		height: 257px;
		z-index: -1;
		background-image: url(img/business-workflow-768.png);
		background-repeat: no-repeat;
		@media (min-width: $screen-tablet-min) {
			top: 90%;
			right: 93%;
		}
	}

    p {
        @include font-set-01(18px, 28px, 400);
			max-width: 420px;
			font-family: $sec-font;
			color: $mountain-mist;
			margin: 0 auto;
        	margin-bottom: $spacing-04;
		@media (min-width: $screen-tablet-min) {
			@include font-set-01(20px, 30px, 400);
		}
		@media (min-width: $screen-desktop-min) {
			text-align: left;
			max-width: 260px;
			margin-right: 200px;
			margin-bottom: -45px;
		}
    }

	&__row-items-1 {
		margin-bottom: 20px;

		@media (min-width: $screen-tablet-min) {
			display: flex;
			justify-content: center;

			.achievements__item + .achievements__item {
				margin-left: 70px;
				margin-top: 40px;
			}
		}

		@media (min-width: $screen-desktop-min) {
			display: flex;
			justify-content: center;
			margin-bottom: -84px;

			.achievements__item + .achievements__item {
				margin-left: 205px;
				margin-top: 170px;
			}
		}
	}

	&__row-items-2 {
		@media (min-width: $screen-tablet-min) {
			display: flex;
			justify-content: center;
			margin-right: 120px;

			.achievements__item + .achievements__item {
				margin-left: 110px;
				margin-top: 40px;
			}
		}
		@media (min-width: $screen-desktop-min) {
			justify-content: flex-start;
			margin-right: auto;
			margin-left: 80px;

			.achievements__item + .achievements__item {
				margin-left: 320px;
				margin-top: 170px;
			}
		}
	}

    &__item {
        display: flex;
        flex-direction: column;
		
		&:first-child {
			margin-bottom: 20px;
		}
    }

    &__heading {
        @include font-set-01(64px, 79px, 400);
		max-width: 280px;
		margin: 0 auto;
        font-family: $pr-font;
        font-style: italic;
        color: $pr-heading;
        margin-bottom: $spacing-02;
		@media (min-width: $screen-tablet-min) {
			@include font-set-01(72px, 89px, 400)
		}
		@media (min-width: $screen-desktop-min) {
			max-width: 380px;
			@include font-set-01(100px, 124px, 400)
		}
        
		span {
			position: relative;
		}

        & span:after {
			content: "";
			position: absolute;
			display: inline-block;
			bottom: 18%;
			left: -2%;
			background-color: #ffdea7;
			width: 100%;
			height: 8%;
			z-index: -1;
        }
    }

    &__caption {
        @include font-set-01(16px, 26px, 400);
        font-family: $sec-font;
        color: $mountain-mist;
		@media (min-width: $screen-tablet-min) {
			@include font-set-01(18px, 28px, 400)
		}
		@media (min-width: $screen-tablet-min) {
			@include font-set-01(20px, 30px, 400)
		}
    }
}

.pricing {
    &-plans {
        @include padd-vert(36px, 56px);
        display: flex;
        flex-direction: column;
        text-align: center;
        @media (min-width: $screen-tablet-min) {
            @include padd-vert(60px, 80px);
        }
        @media (min-width: $screen-desktop-min) {
            @include padd-vert(100px, 160px);
        }
    
        &__heading {
            @include h1-mobile;
            margin-bottom: $spacing-01;
            @media (min-width: $screen-tablet-min) {
                @include h1-tablet;
                margin-bottom: $spacing-03;
            }
            @media (min-width: $screen-desktop-min) {
                @include h1-desktop;
            }
        }
    
        &__subheading {
            @include subheading-mobile;
            margin-bottom: $spacing-04;
            @media (min-width: $screen-tablet-min) {
                @include subheading-tablet;
                margin-bottom: $spacing-10;
            }
            @media (min-width: $screen-desktop-min) {
                @include subheading-desktop;
                margin-bottom: $spacing-08;
            }
        }
    }
}

.footer {
    @include padd-vert($spacing-06, $spacing-06);
    background-color: $black;
    @media (min-width: $screen-desktop-min) {
        @include padd-vert(100px, 100px);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        @media (min-width: $screen-desktop-min) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        order: 2;
        @media (min-width: $screen-desktop-min) {
            order: 1;
            margin-top: 8px;
        }

        span {
            @include font-set-01(12px, 18px, 400);
            font-family: $sec-font;
            color: $mid-gray;
            @media (min-width: $screen-tablet-min) {
                @include font-set-01(14px, 22px, 400);
            }
        }
    }

    &__logo-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #232323;
        padding-bottom: $spacing-05;
        padding-right: $spacing-01;
        margin-bottom: $spacing-03;
        @media (min-width: $screen-desktop-min) {
            align-items: flex-start;
            flex-direction: column;
            border-bottom: none;
            padding-bottom: 0px;
            margin-bottom: 102px;
        }
    }

    &__logo {
        cursor: pointer;
        width: 49px;
        height: 14px;
        @media (min-width: $screen-tablet-min) {
            width: 81px;
            height: 24px;
        }
        @media (min-width: $screen-desktop-min) {
            margin-bottom: $spacing-06;
        }
    }

    &__social-links {
        display: flex;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 6px;
            border: 1px solid #383738;
            border-radius: 100%;
            margin-right: 12px;
            @media (min-width: $screen-tablet-min) {
                padding: 8px;
            }

            img {
                @media (min-width: $screen-tablet-min) {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }     

    &__right {
        order: 1;
        margin-bottom: $spacing-04;
        @media (min-width: $screen-desktop-min) {
            order: 2;
            margin-bottom: 0px;
        }

        .navigation {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-right: 49px;
            @media (min-width: $screen-desktop-min) {
                order: 2;
            }
            @media (min-width: $screen-desktop-min) {
                padding-right: 70px;
            }

            &__col {
                &:first-child {
                    margin-bottom: 20px;
                    @media (min-width: $screen-desktop-min) {
                        margin-bottom: 0px;
                    }
                }

                &:nth-child(even) {
                    margin-right: 0px;
                    @media (min-width: $screen-desktop-min) {
                        margin-right: 92px;
                    }
                }

                h4 {
                    @include font-set-01(12px, 18px, 600);
                    font-family: $sec-font;
                    color: $white;
                    margin-bottom: $spacing-01;
                    @media (min-width: $screen-tablet-min) {
                        @include font-set-01(14px, 24px, 600);
                        margin-bottom: $spacing-03;
                    }
                    @media (min-width: $screen-tablet-min) {
                        @include font-set-01(16px, 26px, 600);
                    }
                }

                @media (min-width: $screen-desktop-min) {
                    margin-right: 92px;

                    &:last-child {
                        margin-right: 0px;
                    }
                }
            }

            &__item {
                margin-bottom: 6px;
                @media (min-width: $screen-tablet-min) {
                    margin-bottom: 12px;
                }

                a {
                    @include font-set-01(12px, 18px, 400);
                    font-family: $sec-font;
                    color: $mountain-mist;
                    @media (min-width: $screen-tablet-min) {
                        @include font-set-01(14px, 24px, 400);
                    }
                    @media (min-width: $screen-tablet-min) {
                        @include font-set-01(16px, 26px, 400);
                    }
                }
            }
        }
    }
}
